{% extends 'base.html.twig' %}

{% block title %}Connexion | Mairie Rosières-près-Troyes{% endblock %}

{% block body %}

    <section class="member-form">
        <nav class="navbar bg-body-tertiary mb-5">
            <div class="container-fluid">
                <a class="navbar-brand mx-auto" href="{{ path('app_evenement_calendar') }}">
                    <img class="h-25" src="{{ asset('images/logo.png') }}">
                </a>
            </div>
        </nav>

        <div class="container">
            <div class="row vh-90 justify-content-center align-items-center">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header fw-bold fs-5">Connexion</div>
                        <div class="card-body">
                            <form method="post">
                                <div class="mb-3 form-floating">
                                    <input type="email" value="{{ last_username }}" name="email" id="email" placeholder="nom@exemple.com" class="form-control" autocomplete="email" required autofocus>
                                    <label for="email">Email</label>
                                </div>

                                <div class="mb-1 form-floating">
                                    <input type="password" class="form-control" id="password" name="password" placeholder="password" autocomplete="current-password" required>
                                    <label for="password">Mot de passe</label>
                                </div>

                                <a class="d-block form-text link mb-4" href="{{ path('app_forgot_password_request') }}">Mot de passe oublié ?</a>

                                <div class="mb-3 form-check">
                                    <input type="checkbox" name="_remember_me" id="remember_me" class="form-check-input">
                                    <label class="form-check-label" for="remember_me">Se souvenir de moi</label>
                                </div>

                                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                                {% if error %}
                                    <p class="d-block my-1 invalid-feedback fw-semibold">
                                        {{ error.messageKey|trans(error.messageData, 'security') }}
                                    </p>
                                {% endif %}

                                <button type="submit" class="btn btn-primary w-100 fw-bold">Se connecter</button>

                                <p class="form-text link mt-3 mb-0">Vous n'avez pas de compte ? <a href="{{ path('app_register') }}">Créer un compte</a></p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('css/member') }}
{% endblock %}