{% extends 'base.html.twig' %}

{% block body %}

    <header>
        <div class="nav">
            <div class="logo">
                <img src="{{ asset('images/logo.png') }}" alt="logo">
            </div>
            <div class="link">
                <a>Accueil</a>
                <a>Calendrier</a>
                <a>Blog</a>
                <a>Contact</a>
            </div>
            <div class="membre">
                <a href="{{ path('app_login') }}">Connexion</a>
                <a href="{{ path('app_register') }}">Inscription</a>
            </div>
        </div>
    </header>

    <a href="{{ path('app_evenement_new') }}">Créer un évènement</a>

    <div id="calendar"></div>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
    {{ parent() }}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.3/main.css">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@5.11.3/main.min.js'></script>

    <script>
        fc_event_url = '{{ path('fc_load_events') }}';
    </script>
    <script src="{{ asset('assets/js/calendar.js') }}"></script>
{% endblock %}