{% extends 'base.html.twig' %}

{% block title %}Accueil | Mairie Rosières-près-Troyes{% endblock %}

{% block body %}

    <header>
        <div id="hautDePage">
            <div id="logo">
                <a href="{{ path('app_evenement_calendar') }}">
                    <img src="{{ asset('images/logo.png') }}">
                </a>
            </div>
            <div class="navigation">
                <a class="active" href="{{ path('app_evenement_calendar') }}">Accueil</a>
                <a href="{{ path('app_calendrier') }}">Calendrier</a>
                <a>Blog</a>
                <a>Contact</a>
            </div>
            <div id="espaceMembre">
                <a href="{{ path('app_login') }}" class="connexion">Connexion</a>
                <a href="{{ path('app_register') }}" class="inscription">Inscription</a>
            </div>
            <div id="menu-burger">
                <img src="{{ asset('images/burger.png') }}">
            </div>
        </div>
        <div id="menu-mobile">
            <div class="menu">
                <a class="active" href="{{ path('app_evenement_calendar') }}">Accueil</a>
                <a href="{{ path('app_calendrier') }}">Calendrier</a>
                <a>Blog</a>
                <a>Contact</a>
                <a href="{{ path('app_login') }}" class="connexion">Connexion</a>
                <a href="{{ path('app_register') }}" class="inscription">Inscription</a>
            </div>
        </div>
        <div id="title">
            <p>Calendrier connecté de</p>
            <span>Rosières-près-Troyes</span>
            <p class="description">Phasellus quis laoreet purus, id ultrices augue. Suspendisse luctus malesuada venenatis. Etiam feugiat nisi ac ex dapibus, at tristique turpis commodo.</p>
        </div>
    </header>

    <p class="texte">La ville de Rosières-Près-Troyes est fière de vous présenter son tout nouvel outil mis à dispotion
        de ses habitants : le calendrier connecté. Grâce à cet outil, la mairie vous proposera divers événements afin de
        vous tenir au courant de ce qui se prépare dans votre commune. Découvrez également la possibilité de créer vos
        propres événements et planifiez vos journées grâce au calendrier connecté de la ville de Rosières-Près-Troyes !
    </p>

    <div id="avantages">
        <p class="titre">Mauris metus nulla, dignissim et massa eg</p>
        <p class="description">Aecenas in mollis turpis. Aenean aliquam consectetur consequat.</p>
        <section>
            <div class="bloc">
                <img src="{{ asset('images/calendrier.png') }}">
                <p class="titre">Calendrier en ligne</p>
                <p class="description">Etiam consectetur, quam cursus suscipit convallis, enim odio.</p>
            </div>
            <div class="bloc">
                <img src="{{ asset('images/blog.png') }}">
                <p class="titre">Blog en ligne</p>
                <p class="description">Etiam consectetur, quam cursus suscipit convallis, enim odio.</p>
            </div>
            <div class="bloc">
                <img src="{{ asset('images/crayon.png') }}">
                <p class="titre">Rédiger vos évènements</p>
                <p class="description">Etiam consectetur, quam cursus suscipit convallis, enim odio.</p>
            </div>
        </section>
    </div>

    {# <a class="createEvent" href="{{ path('app_evenement_new') }}">Créer un évènement</a> #}

    <div id="calendar"></div>

{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
    {{ parent() }}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.3/main.css">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@5.11.3/main.min.js'></script>

    <script>
        fc_event_url = '{{ path('fc_load_events') }}';
    </script>
    <script src="{{ asset('assets/js/calendar.js') }}"></script>
    <script>
        $(document).ready(function() {
            $('#menu-burger').click(function() {
                $('#menu-mobile').toggle('active');
                $('body').toggleClass('no-scroll');
            });
        });
    </script>
{% endblock %}