{% extends 'base.html.twig' %}

{% block title %}{{ evenement.title }} | Mairie Rosières-près-Troyes{% endblock %}

{% block body %}

    <header class="bg-img" style="background-image: url('{{ evenement.imageName ? '/images/evenements/' ~ evenement.imageName : '/images/evenements/default.png' }}'); background-size: cover; backdrop-filter: brightness(0.8)">
        {{ include('_nav.html.twig') }}
        <div id="title">
        </div>
    </header>

    <section class="blog-page">

        <div class="blog-header">
            <img src="{{ evenement.imageName ? asset('images/evenements/' ~ evenement.imageName) : asset('images/evenements/default.png') }}" alt="Image de l'évènement {{ evenement.title }}">
            <div class="card-body">
                <h1 class="card-title">{{ evenement.title }}</h1>
                <p class="card-text card-date">Le {{ evenement.beginAt|format_datetime('full', 'none', locale='fr', timezone='Europe/Paris')|capitalize }}</p>
                {% if evenement.user %}
                    <span class="card-text card-author">Par {{ evenement.user.name }}</span>
                {% endif %}

                {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_USER') and evenement.user == app.user %}
                    <div class="card-btns mt-4">
                        <a href="{{ path('app_evenement_edit', {id: evenement.id}) }}" class="btn-edit">Modifier l'évènement</a>
                        {{ include('evenement/_delete_form.html.twig', {'id': evenement.id}) }}
                    </div>
                {% endif %}
            </div>
        </div>

        <p class="card-description">
            {{ evenement.description ? evenement.description : 'Aucune description disponible' }}
        </p>



    </section>
{% endblock %}
