{% extends 'base.html.twig' %}

{% block title %}Calendrier en ligne | Mairie Rosières-près-Troyes{% endblock %}

{% block body %}

        <header>

    {{ include('_nav.html.twig') }}

        </header>

    {# <a class="createEvent" href="{{ path('app_evenement_new') }}">Créer un évènement</a> #}

    <div id="calendar"></div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.3/main.css">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@5.11.3/main.min.js'></script>

    <script>
        fc_event_url = '{{ path('fc_load_events') }}';
    </script>
    <script src="{{ asset('assets/js/calendar.js') }}"></script>
{% endblock %}