{% extends 'base.html.twig' %}

{% block title %}Accueil | Mairie Rosières-près-Troyes{% endblock %}

{% block body %}

    <div id="headerCalendrier">
        <div class="logo">
            <img src="{{ asset('images/logo.png') }}">
        </div>
        <div class="navigation">
            <a href="{{ path('app_evenement_calendar') }}">Accueil</a>
            <a class="active" href="{{ path('app_calendrier') }}">Calendrier</a>
            <a>Blog</a>
            <a>Contact</a>
        </div>
        <div class="nom">
            <span>Fabien C.</span>
        </div>
    </div>


    {# <a class="createEvent" href="{{ path('app_evenement_new') }}">Créer un évènement</a> #}

    <div id="calendar"></div>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
    {{ parent() }}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.3/main.css">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@5.11.3/main.min.js'></script>

    <script>
        fc_event_url = '{{ path('fc_load_events') }}';
    </script>
    <script src="{{ asset('assets/js/calendar.js') }}"></script>
{% endblock %}